---
import WidgetWrapper from '../../ui/WidgetWrapper.astro';
import Calculator from '~/components/widgets/rocksoft/partials/Calculator.astro';


---


<section class="flex items-center py-[100px] bg-rs-light-green dark:bg-rs-dark-blue-2 px-4">
    <div class="max-w-screen-lg mx-auto">
        <h2 class="font-bold md:text-5xl text-2xl text-black text-center mb-10 dark:text-white">Kalkulator oszczędności</h2>

        <Calculator />

    </div>
</section>
