<section class="flex items-center py-[90px] px-4">
    <div class="max-w-screen-lg mx-auto">
        <h2 class="font-bold md:text-5xl text-2xl text-black text-center mb-10">Chcesz wiedzieć więcej?</h2>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-x-3 gap-y-10">
            <div>
                <p class="font-bold text-base text-black text-center mb-10">Pogadajmy na Instagramie</p>
                <a href="" class="mx-auto bg-rs-green font-bold text-white text-xl rounded-full py-3 px-7 block w-max flex items-center justify-center gap-2">
                    <span>Napisz</span>
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.9286 2.82101H7.07143C4.4678 2.82101 2.35714 4.93167 2.35714 7.5353V17.3924C2.35714 19.9961 4.4678 22.1067 7.07143 22.1067H16.9286C19.5322 22.1067 21.6429 19.9961 21.6429 17.3924V7.5353C21.6429 4.93167 19.5322 2.82101 16.9286 2.82101ZM7.07143 0.463867C3.16599 0.463867 0 3.62985 0 7.5353V17.3924C0 21.2979 3.16599 24.4639 7.07143 24.4639H16.9286C20.834 24.4639 24 21.2979 24 17.3924V7.5353C24 3.62985 20.834 0.463867 16.9286 0.463867H7.07143Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 16.1688C14.0462 16.1688 15.7049 14.5101 15.7049 12.4639C15.7049 10.4177 14.0462 8.759 12 8.759C9.95387 8.759 8.29513 10.4177 8.29513 12.4639C8.29513 14.5101 9.95387 16.1688 12 16.1688ZM12 18.5259C15.348 18.5259 18.0621 15.8119 18.0621 12.4639C18.0621 9.11593 15.348 6.40186 12 6.40186C8.65206 6.40186 5.93799 9.11593 5.93799 12.4639C5.93799 15.8119 8.65206 18.5259 12 18.5259Z" fill="white"/>
                        <circle cx="18.229" cy="6.23475" r="1.516" fill="white"/>
                    </svg>                                               
                </a>
            </div>
            <div>
                <p class="font-bold text-base text-black text-center mb-10">Lub zadzwoń na numer:</p>
                <a href=""  class="font-light text-2xl text-black text-center mx-auto flex items-center justify-center h-14">533 344 110</a>
            </div>
        </div>
    </div>
</section>