---
import TestimonialsSplide from "./partials/TestimonialsSplide.astro";
---

<section class="flex items-center py-20 px-4">
    <div class="max-w-screen-lg w-full mx-auto">
        <h2 class="font-bold md:text-5xl text-2xl text-black text-center">Co nasi klienci sądzą o Raypath</h2>
        <TestimonialsSplide />
    </div>
</section>