---
import { APP_BLOG } from 'astrowind:config';

import Grid from '~/components/blog/Grid.astro';

import { getBlogPermalink } from '~/utils/permalinks';
import { findLatestPosts } from '~/utils/blog';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Widget } from '~/types';
import Button from '../ui/Button.astro';

export interface Props extends Widget {
  title?: string;
  linkText?: string;
  linkUrl?: string | URL;
  information?: string;
  count?: number;
}

const {
  title = await Astro.slots.render('title'),
  linkText = 'Zobacz wszystkie wpisy',
  linkUrl = getBlogPermalink(),
  information = await Astro.slots.render('information'),
  count = 6,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const posts = APP_BLOG.isEnabled ? await findLatestPosts({ count }) : [];
---

{
  APP_BLOG.isEnabled ? (
    <WidgetWrapper id={id} isDark={isDark} bg={bg}>
      <section class="flex items-center py-20 bg-rs-light-green dark:bg-rs-dark-blue px-4">
        <div class="max-w-screen-lg mx-auto">
          <h2 class="font-bold md:text-5xl text-2xl mb-20 text-black dark:text-white text-center">Blog poświęcony zrównoważonemu sprzątaniu i trosce o środowisko</h2>
          <Grid posts={posts} />
          <div class="mt-10 flex justify-center">
            <a href="/blog" class="font-bold text-black text-xl box-border border-black rounded-full py-3 px-7 border-2 block w-max dark:text-white dark:border-white relative" data-astro-source-file="/home/mlipski/projekty/twojekologicznydom/src/components/ui/Button.astro" data-astro-source-loc="29:6">
              Zobacz więcej postów
            </a>
          </div>
        </div>
      </section>

    </WidgetWrapper>
  ) : (
    <Fragment />
  )
}
