---
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import type { CallToAction as Props } from '~/types';

const {
  variant = 'secondary',
  free = false,
  target,
  text = Astro.slots.render('default'),
  icon = '',
  class: className = '',
  type,
  ...rest
} = Astro.props;

const variants = {
  green: "bg-rs-green font-bold text-white text-xl rounded-full py-3 px-7 block w-max relative",
  transparent: "font-bold text-black text-xl box-border border-black rounded-full py-3 px-7 border-2 block w-max  dark:text-white dark:border-white relative"
};

---
{
  (
    <a 
      {...(target ? { target: target, rel: 'noopener noreferrer' } : {})}
      {...rest}
      class={twMerge(variants[variant] || '')}
    >
      {
        free == "true" && (
          <span class="bg-black rounded text-white text-xs font-medium py-1 px-1 top-[-10px] right-0 absolute dark:bg-white dark:text-black">ZA DARMO</span>
        )
      }
      
      <Fragment set:html={text} />
    </a>
  )
}