---
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import type { CallToAction as Props } from '~/types';

const {
  variant = 'secondary',
  target,
  text = Astro.slots.render('default'),
  icon = '',
  class: className = '',
  type,
  ...rest
} = Astro.props;

const variants = {
  green: "bg-rs-green font-bold text-white text-xl rounded-full py-3 px-7 block w-max",
  transparent: "font-bold text-black text-xl box-border border-black rounded-full py-3 px-7 border-2 block w-max"
};
---
{
  (
    <a 
      {...(target ? { target: target, rel: 'noopener noreferrer' } : {})}
      {...rest}
      class={twMerge(variants[variant] || '')}
    >
      <Fragment set:html={text} />
    </a>
  )
}